<div class="BodyContainer" >
        <div class="imgContainer">
            <img src="IMages/29.jpg" height="500" width="985" />
        </div>
        <div class="NewsConatiner">
            <div>
                ----------------------------------------      Recent Updates            ---------------------------------------- 
               
            </div>
            <table style="width: 100%">
                <tr class="RowContainer">
                    <td class="ColContainer">
                        <div>
                            <img height="300" width="400" src="IMages/2.jpg" />
                        </div>
                    </td>
                    <td class="ColContainerDummy"></td>
                    <!--<td class="ColContainerDummy"></td>-->
                    <td class="ColContainer">
                         <div>
                             <img height="300" width="400" src="IMages/14.jpg" />
                         </div>
                    </td>
                </tr>
                <tr class="RowContainer">
                    <td class="ColContainer">
                         <div>
                             <img height="300" width="400" src="IMages/6.jpg" />
                         </div>
                    </td>
                    <td class="ColContainerDummy"></td>
                    <!--<td class="ColContainerDummy"></td>-->
                    <td class="ColContainer">
                         <div>
                             <img height="300" width="400" src="IMages/29.jpg" />
                         </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>